body {
  background-color: violet;
  text-align: center;
  font-family: monospace;
}

.labels, .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: .3rem;
}

.inputs {
  gap: .6rem;
}

input {
  background-color: black;
  border: none;
  color: violet;
  font-weight: bold;
  padding: .3rem 0;
  width: 4rem;
  text-align: center;
}

button {
  display: inline-block;
  margin-top: 1rem;
  background-color: transparent;
  border: 3px solid black;
  padding: .5rem 1.5rem;
  font-family: inherit;
}

#reset {
  padding: 0.3rem 1rem;
  display: none;
  margin: auto;
}

@media (max-width: 540px) {
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1rem;
  }
}